In [2]:
import pandas as pd

# Read the CSV file (assuming it's in the same directory as the notebook)
df_data = pd.read_csv("Purchase_Data.csv")

# Display the first few rows
df_data.head()

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
2,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
3,2.020000e+11,7/15/15 12:16,G816,7070891,70401,1.0,6.0
4,2.020000e+11,7/15/15 12:16,G816,7090363,70401,1.0,6.0

In [6]:
import pandas as pd

# Read the CSV file into a DataFrame
file_path = r"C:\Users\S\Downloads\Purchase_Data.csv"
df_data = pd.read_csv(file_path)

# Display the first five rows
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

In [7]:
# Check the data types of each column
print(df_data.dtypes)

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

In [8]:
# Slice the first two columns using .loc
result_1 = df_data.loc[:, df_data.columns[:2]]

# Display the result
print(result_1.head())  # Show the first few rows

   invoice_number   invoice_time
0    2.020000e+11  7/15/15 10:45
1    2.020000e+11  7/15/15 12:16
2    2.020000e+11  7/15/15 12:16
3    2.020000e+11  7/15/15 12:16
4    2.020000e+11  7/15/15 12:16

In [9]:
# Slice the first two rows using .loc
result_2 = df_data.loc[:1, :]  # Indexing starts from 0, so rows 0 and 1 are selected

# Display the result
print(result_2)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0

   price
0    2.0
1    2.0

In [10]:
# Slice the first four rows and the first five columns
result_3 = df_data.loc[:3, df_data.columns[:5]]

# Display the result
print(result_3)

   invoice_number   invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401

In [14]:
# Slice rows 0, 4, and 6 and columns 'Invoice Time' and 'Price'
result_4 = df_data.loc[[0, 4, 6], ['invoice_time', 'price']]

# Display the result
print(result_4)

    invoice_time  price
0  7/15/15 10:45    2.0
4  7/15/15 12:16    6.0
6  7/15/15 15:28    2.0

In [15]:
# Get the number of rows
num_rows = df_data.shape[0]

# Display the result
print(num_rows)

5382

In [16]:
# Print the last row using num_rows
last_row = df_data.loc[num_rows - 1, :]

# Display the result
print(last_row)

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

In [18]:
# Compute the average and maximum price
avg_price = df_data['price'].mean()
max_price = df_data['price'].max()

# Display the results
print("Average Price:", avg_price)
print("Maximum Price:", max_price)

Average Price: 3.1920522110741363
Maximum Price: 6.01

In [21]:
# Compute the average price and average number of items purchased in a single call
avg_price, avg_num_items = df_data[['price', 'num_item']].mean()

# Display the results
print("Average Price:", avg_price)
print("Average Number of Items Purchased:", avg_num_items)

Average Price: 3.1920522110741363
Average Number of Items Purchased: 1.2983091787439613

In [23]:
# Check the correct column name for number of items
print(df_data.columns)

# Replace 'num_item' with the correct column name (e.g., 'Quantity', 'Num_Items', etc.)
df_data["total"] = df_data["price"] * df_data["num_item"]

# Display the first few rows to verify
print(df_data.head())

Index(['invoice_number', 'invoice_time', 'store_id', 'product_id',
       'category_id', 'num_item', 'price'],
      dtype='object')
   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price  total
0    2.0    2.0
1    2.0    2.0
2    2.0    2.0
3    6.0    6.0
4    6.0    6.0

In [24]:
# Find the three most expensive purchases
top_3_prices = df_data.nlargest(3, 'price')

# Compute the average price of these three purchases
avg_top_3_price = top_3_prices['price'].mean()

# Display the result
print("Average Price of the Three Most Expensive Purchases:", avg_top_3_price)

Average Price of the Three Most Expensive Purchases: 6.003333333333333

In [27]:
# Check the correct column name for products
print(df_data.columns)

# Count unique products (replace 'Product' with the actual column name)
num_products = df_data['product_id'].nunique()

# Display the result
print("Number of Different Products:", num_products)

Index(['invoice_number', 'invoice_time', 'store_id', 'product_id',
       'category_id', 'num_item', 'price', 'total'],
      dtype='object')
Number of Different Products: 53

In [28]:
# Ensure the "total" column exists (if not, create it)
if "total" not in df_data.columns:
    df_data["total"] = df_data["Price"] * df_data["num_item"]  # Use correct column name for num_item

# Get summary statistics of the 'total' column
total_stats = df_data["total"].describe()

# Extract mean and median (50% represents the median in describe())
mean_total = total_stats["mean"]
median_total = total_stats["50%"]

# Compute the difference
difference = mean_total - median_total

# Display the result
print("Difference between Mean and Median of 'total':", difference)

Difference between Mean and Median of 'total': 0.9318078781127839

In [29]:
# Drop the "total" column from the DataFrame
df_data = df_data.drop(columns=["total"])

# Display the first few rows to verify
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

In [31]:
import pandas as pd  # Ensure pandas is imported

# Convert "Invoice Time" to datetime format
df_data["Invoice Time"] = pd.to_datetime(df_data["invoice_time"], errors="coerce")

# Print column types to verify the change
print(df_data.dtypes)

C:\Users\S\AppData\Local\Temp\ipykernel_50940\3225326172.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_data["Invoice Time"] = pd.to_datetime(df_data["invoice_time"], errors="coerce")

invoice_number           float64
invoice_time              object
store_id                  object
product_id                 int64
category_id                int64
num_item                 float64
price                    float64
Invoice Time      datetime64[ns]
dtype: object

In [32]:
# Ensure "Invoice Time" is in datetime format
df_data["Invoice Time"] = pd.to_datetime(df_data["Invoice Time"], errors="coerce")

# Create new columns for Day of the Week (DOW) and Month
df_data["DOW"] = df_data["Invoice Time"].dt.day_name()  # Extract weekday name
df_data["Month"] = df_data["Invoice Time"].dt.month_name()  # Extract month name

# Display the first few rows to verify
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price        Invoice Time        DOW Month
0    2.0 2015-07-15 10:45:00  Wednesday  July
1    2.0 2015-07-15 12:16:00  Wednesday  July
2    2.0 2015-07-15 12:16:00  Wednesday  July
3    6.0 2015-07-15 12:16:00  Wednesday  July
4    6.0 2015-07-15 12:16:00  Wednesday  July

In [33]:
# Ensure "DOW" column exists
if "DOW" not in df_data.columns:
    df_data["DOW"] = df_data["Invoice Time"].dt.day_name()

# Count the number of purchases per weekday
dow_counts = df_data["DOW"].value_counts()

# Get the count for Wednesday (if it exists)
num_purchases_wed = dow_counts.get("Wednesday", 0)  # Default to 0 if Wednesday is missing

# Display the result
print("Number of purchases made on Wednesday:", num_purchases_wed)

Number of purchases made on Wednesday: 959